html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

a.button {
  display: block;
  background-color: #0196DD;
  height: 48px;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

article .wrapper-block .wrapper-content div .check,
.userCases .wrapper-userCases .box .check {
  width: 412px;
  margin-left: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article .wrapper-block .wrapper-content div .check::before,
.userCases .wrapper-userCases .box .check::before {
  content: url(../img/check.svg);
  padding-right: 5px;
  padding-left: 10px;
  height: 60px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 28px;
}

p,
h3,
a.button,
nav .sidebar ul li a,
header .content h1,
header .content h2,
.userCases .wrapper-userCases .box h4,
.treatment .wrapper-treatment .box .content h5,
.treatmentOfHeartburnn form label,
footer .wrapper-footer p a {
  font-family: 'Open Sans', sans-serif;
}

h3,
header .content h1 span,
header .content h2 {
  color: #0196DD;
}

p,
nav .sidebar ul li a,
.userCases .wrapper-userCases .box h4,
.treatment .wrapper-treatment .box .content h5,
.treatmentOfHeartburnn form label,
footer .wrapper-footer p a {
  color: #0A2D44;
}

article .wrapper-block,
.userCases,
.downloadInformation,
.treatmentOfHeartburnn {
  background: #F5F5F5;
}

header,
.detalization .wrapper-content,
.userCases .wrapper-userCases .box,
footer .wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

nav {
  width: inherit;
  max-width: inherit;
  padding-left: 89px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  height: 72px;
  margin-top: -72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .hamburger {
  display: none;
}

nav .hamburger .menu__btn > span,
nav .hamburger .menu__btn > span::before,
nav .hamburger .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #616161;
}

nav .hamburger .menu__btn > span::before {
  content: "";
  top: -8px;
}

nav .hamburger .menu__btn > span::after {
  content: "";
  top: 8px;
}

nav .sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 188px;
}

nav .sidebar ul li {
  padding-left: 30px;
}

nav .sidebar ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0.5;
}

nav .sidebar ul li a:hover {
  opacity: 1.0;
}

header {
  margin-top: 72px;
  background-color: #FAFAFA;
}

header .content {
  padding-left: 88px;
  margin-top: 60px;
}

header .content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 112px;
  color: #F20069;
}

header .content h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 73px;
}

header .content p {
  width: 498px;
  margin-top: 32px;
}

header .content a.button {
  width: 144px;
  background-color: #F20069;
  margin-top: 40px;
}

header .img img {
  margin-bottom: -3px;
}

article .wrapper-block {
  min-height: 448px;
}

article .wrapper-block h3 {
  padding-top: 78px;
}

article .wrapper-block .wrapper-content {
  margin-top: 62px;
  display: grid;
  grid-template: repeat(2, 123px)/repeat(2, 1fr);
  justify-items: start;
}

article .wrapper-block .wrapper-content div:nth-child(odd) {
  margin-left: 75px;
}

.detalization {
  background-color: #FAFAFA;
  padding-bottom: 70px;
}

.detalization h3 {
  padding-top: 80px;
}

.detalization .wrapper-content {
  margin-top: 60px;
  margin-left: 125px;
  margin-right: 176px;
}

.detalization .wrapper-content .content {
  width: 322px;
}

.detalization .wrapper-content .content p {
  margin-bottom: 25px;
}

.detalization .wrapper-content .content p span {
  font-weight: bold;
  opacity: 1.0;
}

.detalization .wrapper-content .content a.button {
  margin-top: 34px;
  width: 148px;
}

.userCases {
  height: 1990px;
}

.userCases h3 {
  padding-top: 80px;
  margin-bottom: 60px;
}

.userCases .wrapper-userCases .box {
  width: 1024px;
  height: 498px;
  margin: 0 auto 50px;
}

.userCases .wrapper-userCases .box .leonard {
  background: url(../img/sideLeonard1.png);
}

.userCases .wrapper-userCases .box .rebecca {
  background-image: url(../img/carouselRebeca1.png);
}

.userCases .wrapper-userCases .box .misha {
  background-image: url(../img/carouselMisha1.png);
}

.userCases .wrapper-userCases .box .image {
  display: none;
  width: 360px;
  height: 360px;
}

.userCases .wrapper-userCases .box h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}

.userCases .wrapper-userCases .box .styleBold {
  font-weight: bold;
  opacity: 1.0;
  text-transform: uppercase;
}

.userCases .wrapper-userCases .box .check {
  margin-top: 40px;
  margin-left: 0;
  margin-bottom: -10px;
}

.userCases a.button {
  width: 178px;
  margin: 80px auto 0;
  display: block;
}

.treatment {
  background-color: #FAFAFA;
  padding-bottom: 80px;
}

.treatment h3 {
  padding-top: 73px;
  margin-bottom: 60px;
}

.treatment .wrapper-treatment {
  display: grid;
  grid-template-columns: 498px 498px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 28px;
}

.treatment .wrapper-treatment .box {
  width: 498px;
}

.treatment .wrapper-treatment .box .content {
  width: 322px;
  margin: 0 auto;
  text-align: start;
}

.treatment .wrapper-treatment .box .content h5 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  color: #0A2D44;
  opacity: 0.5;
}

.treatment .wrapper-treatment .box .content p {
  margin-top: 21px;
}

.downloadInformation {
  height: 364px;
  text-align: center;
}

.downloadInformation p {
  width: 848px;
  display: block;
  margin: 0 auto 60px;
  padding-top: 83px;
  text-align: start;
}

.downloadInformation a.button {
  width: 378px;
  display: block;
  margin: 0 auto;
}

.sideEffects {
  background-color: #FAFAFA;
}

.sideEffects h3 {
  padding-top: 82px;
  margin: 0 auto 60px;
}

.sideEffects .wrapper-sideEffects-next {
  display: none;
}

.sideEffects .wrapper-sideEffects {
  width: 848px;
  margin: 0 auto;
}

.sideEffects .wrapper-sideEffects p {
  padding-bottom: 24px;
}

.sideEffects .wrapper-sideEffects p:last-child {
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 80px;
}

.treatmentOfHeartburnn {
  height: 770px;
}

.treatmentOfHeartburnn h3 {
  padding-top: 80px;
  width: 700px;
  margin: 0 auto 60px;
}

.treatmentOfHeartburnn p {
  text-align: center;
  margin-bottom: 50px;
}

.treatmentOfHeartburnn form {
  width: 400px;
  height: 272px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.treatmentOfHeartburnn form p {
  text-align: start;
  margin-bottom: 10px;
}

.treatmentOfHeartburnn form input[type="radio"],
.treatmentOfHeartburnn form input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.treatmentOfHeartburnn form input[type="radio"]:checked::after,
.treatmentOfHeartburnn form input[type="checkbox"]:checked::after {
  content: " ";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: black;
  display: block;
  margin: 4px auto;
}

.treatmentOfHeartburnn form input[type='text'],
.treatmentOfHeartburnn form input[type="email"] {
  width: 400px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #0A2D44;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.treatmentOfHeartburnn form input[type="checkbox"] {
  margin-left: 120px;
  margin-top: -10px;
  border-radius: 0%;
  -webkit-border-radius: 0%;
  -moz-border-radius: 0%;
  -ms-border-radius: 0%;
  -o-border-radius: 0%;
}

.treatmentOfHeartburnn form input[type="checkbox"] {
  margin-bottom: -5px;
}

.treatmentOfHeartburnn form label {
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.treatmentOfHeartburnn form label {
  margin-left: 15px;
  margin-right: 10px;
}

.treatmentOfHeartburnn a.button {
  background-color: #F20069;
  width: 144px;
  margin: 60px auto;
  display: block;
}

footer {
  background-color: #FAFAFA;
}

footer .bottom {
  padding-bottom: 40px;
}

footer .bottom p {
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}

footer .wrapper-footer {
  width: 1024px;
  padding-top: 80px;
  margin: 0px auto 60px;
}

footer .wrapper-footer .contacts-min {
  display: none;
}

footer .wrapper-footer p a {
  font-size: 16px;
  font-style: normal;
  padding-right: 20px;
}

footer .wrapper-footer p .email {
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 40px;
  display: block;
}

footer .wrapper-footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrapper-footer .icons img {
  display: block;
}

@media screen and (max-width: 1200px) {
  body {
    max-width: 1050px;
  }

  nav .sidebar ul {
    margin-left: 40px;
  }

  header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  header .content {
    padding-left: 18px;
    padding-right: 20px;
  }

  .detalization .wrapper-content {
    margin-left: 25px;
    margin-right: 76px;
  }
}

@media screen and (max-width: 1050px) {
  body {
    max-width: 1000px;
  }

  nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  nav .hamburger {
    display: block;
    padding-left: 150px;
  }

  nav .sidebar {
    display: none;
  }

  header {
    padding-top: 40px;
    margin-top: 0;
  }

  header .content {
    width: 270px;
  }

  header .content p {
    width: 270px;
  }

  header .img {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .userCases {
    height: 100%;
  }

  .userCases .wrapper-userCases .box {
    height: inherit;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .userCases .wrapper-userCases .box h4 {
    width: 320px;
  }

  .userCases .wrapper-userCases .box .img {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .userCases .wrapper-userCases .box .img img {
    width: 360px;
    height: 360px;
  }

  .treatment .wrapper-treatment {
    grid-template-columns: 400px auto;
  }

  footer .wrapper-footer {
    width: inherit;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 1000px) {
  body {
    max-width: 800px;
  }

  article .wrapper-block .wrapper-content {
    grid-template: repeat(4, 98px)/repeat(1, 1fr);
    justify-items: center;
  }

  article .wrapper-block .wrapper-content div:nth-child(odd) {
    margin-left: 0px;
  }

  .detalization .wrapper-content {
    margin-left: 15px;
    margin-right: 15px;
  }

  .treatment .wrapper-treatment {
    grid-template-columns: 300px auto;
  }

  .treatment .wrapper-treatment .box img {
    width: 360px;
    height: 240px;
  }

  .treatment .wrapper-treatment .box .content {
    width: 300px;
  }

  .downloadInformation p {
    width: 750px;
  }

  .sideEffects h3 {
    padding-top: 60px;
    margin: 0 auto 40px;
  }

  .sideEffects .wrapper-sideEffects {
    width: 750px;
  }

  .sideEffects .wrapper-sideEffects p {
    padding-bottom: 24px;
    width: 750px;
    text-align: center;
    margin: 0 auto;
  }

  .sideEffects .wrapper-sideEffects p:last-child {
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 930px) {
  .treatment {
    padding-bottom: 60px;
  }

  .treatment .wrapper-treatment .box {
    width: 400px;
  }

  .treatment .wrapper-treatment .box .content {
    width: 300px;
  }
}

@media screen and (max-width: 806px) {
  header,
  .detalization .wrapper-content,
  .userCases .wrapper-userCases .box,
  footer .wrapper-footer {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  body {
    max-width: 500px;
    padding: 0;
  }

  nav {
    margin-top: -60px;
    padding-left: 0;
  }

  header {
    padding: 0;
  }

  header .content {
    padding: 0;
    width: 495px;
    text-align: center;
  }

  header .content p {
    width: 495px;
  }

  header .content a.button {
    width: 320px;
    margin: 40px auto 60px;
  }

  .detalization .wrapper-content .content {
    margin-top: 40px;
  }

  .userCases {
    padding-bottom: 60px;
  }

  .userCases h3 {
    padding-top: 50px;
  }

  .userCases .wrapper-userCases .box .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .userCases .wrapper-userCases .box .content h4 {
    text-align: center;
    margin-bottom: 40px;
  }

  .userCases .wrapper-userCases .box .content h4 {
    width: 300px;
    white-space: pre-line;
  }

  .userCases .wrapper-userCases .box .content .check {
    width: 320px;
  }

  .userCases .wrapper-userCases .box .content .image {
    display: block;
  }

  .userCases .wrapper-userCases .box .img {
    display: none;
  }

  .userCases a.button {
    width: 320px;
    margin-top: 0;
  }

  .treatment h3 {
    padding-top: 60px;
    margin-bottom: 40px;
  }

  .treatment .wrapper-treatment {
    grid-template-columns: 300px;
    justify-items: center;
    grid-row-gap: 40px;
  }

  .treatment .wrapper-treatment .box {
    width: 400px;
  }

  .treatment .wrapper-treatment .box .img {
    margin-bottom: 38px;
  }

  .treatment .wrapper-treatment .box img {
    width: 360px;
    height: 240px;
  }

  .treatment .wrapper-treatment .box .content {
    width: 300px;
  }

  .downloadInformation {
    height: 100%;
    padding-bottom: 60px;
  }

  .downloadInformation p {
    width: 450px;
    padding-top: 38px;
    margin-bottom: 40px;
  }

  .downloadInformation a.button {
    width: 320px;
    height: 70px;
    line-height: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .sideEffects .wrapper-sideEffects {
    width: 450px;
  }

  .sideEffects .wrapper-sideEffects p {
    width: 430px;
  }

  .treatmentOfHeartburnn {
    height: 100%;
    padding-bottom: 60px;
  }

  .treatmentOfHeartburnn h3 {
    padding: 60px 10px 0;
    width: inherit;
  }

  .treatmentOfHeartburnn p {
    margin: 50px auto 0;
    width: 320px;
    display: block;
  }

  .treatmentOfHeartburnn form {
    height: inherit;
  }

  .treatmentOfHeartburnn form input {
    width: 320px;
  }

  .treatmentOfHeartburnn a.button {
    width: 320px;
    margin-bottom: 0;
    margin-top: 40px;
  }

  .treatmentOfHeartburnn .checkbox {
    margin-top: 20px;
  }

  footer .wrapper-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  footer .wrapper-footer .contacts {
    margin-top: 40px;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 360px;
  }

  nav {
    margin-top: -60px;
  }

  nav .logo {
    padding-left: 20px;
    padding-right: 0;
  }

  nav .hamburger {
    padding-left: 90px;
  }

  header {
    padding-top: 1px;
    margin-top: 60px;
  }

  header .content {
    margin-top: 50px;
    width: 360px;
  }

  header .content p {
    width: 320px;
    text-align: center;
    margin-top: 20px;
    padding-left: 15px;
  }

  header .content h1 {
    font-size: 64px;
    line-height: 68px;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 40px auto 10px;
  }

  header .content h2 {
    line-height: 56px;
  }

  header img {
    width: 360px;
  }

  article .wrapper-block h3 {
    padding-top: 60px;
  }

  article .wrapper-block .wrapper-content {
    margin-top: 45px;
  }

  article .wrapper-block .wrapper-content div .check {
    width: 320px;
  }

  .detalization h3 {
    padding-top: 60px;
  }

  .detalization .wrapper-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 38px;
  }

  .detalization .wrapper-content .img img {
    width: 257px;
    height: 240px;
    display: block;
    text-align: center;
  }

  .detalization .wrapper-content .content {
    display: block;
    text-align: start;
  }

  .detalization .wrapper-content .content a.button {
    width: 320px;
    margin-top: 39px;
  }

  .userCases .wrapper-userCases .box {
    width: 360px;
    margin-bottom: 66px;
  }

  .userCases .wrapper-userCases .box .content h4 {
    word-spacing: pre-wrap;
  }

  .userCases .wrapper-userCases .box .content p.check {
    margin-top: 48px;
  }

  .userCases .wrapper-userCases .box .content p.check::before {
    margin-right: 10px;
  }

  .treatment .wrapper-treatment {
    grid-template-columns: 360px;
  }

  .treatment .wrapper-treatment .box {
    width: 360px;
  }

  .treatment .wrapper-treatment .box .img {
    margin-bottom: 38px;
  }

  .treatment .wrapper-treatment .box img {
    width: 360px;
    height: 240px;
  }

  .treatment .wrapper-treatment .box .content {
    width: 300px;
  }

  .downloadInformation p {
    width: 320px;
  }

  .sideEffects {
    padding-bottom: 60px;
  }

  .sideEffects .wrapper-sideEffects-next {
    display: block;
  }

  .sideEffects .wrapper-sideEffects-next p {
    width: 320px;
    padding-bottom: 24px;
    display: block;
    margin: 0 auto;
    text-align: left;
  }

  .sideEffects .wrapper-sideEffects {
    display: none;
  }

  .treatmentOfHeartburnn h3 {
    padding: 35px 10px 0;
    white-space: pre-line;
    margin-bottom: 0;
  }

  .treatmentOfHeartburnn p {
    margin: 40px auto 0;
    width: 320px;
    text-align: start;
  }

  .treatmentOfHeartburnn form {
    width: 320px;
  }

  .treatmentOfHeartburnn form input[type='text'],
  .treatmentOfHeartburnn form input[type="email"] {
    width: 320px;
  }

  .treatmentOfHeartburnn form input[type="checkbox"] {
    margin-left: 20px;
  }

  .treatmentOfHeartburnn form .checkbox {
    margin-top: 19px;
    margin-left: 20px;
  }

  .treatmentOfHeartburnn form .radio p {
    margin-top: 20px;
  }

  .treatmentOfHeartburnn form .email p {
    margin-top: 12px;
  }

  footer .wrapper-footer {
    margin-bottom: 57px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  footer .wrapper-footer .contacts-min {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 320px;
  }

  footer .wrapper-footer .contacts-min p {
    white-space: pre-line;
    text-align: center;
  }

  footer .wrapper-footer .contacts-min p span {
    font-weight: bold;
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
  }

  footer .wrapper-footer .contacts-min p a {
    display: block;
    margin-top: -5px;
    padding-right: 0;
    margin-bottom: -36px;
  }

  footer .wrapper-footer .contacts {
    display: none;
  }

  footer .wrapper-footer .icons {
    margin-top: 43px;
    margin-bottom: 40px;
  }

  footer .bottom {
    width: 320px;
    margin: 0 auto;
  }

  footer .bottom p {
    white-space: pre-line;
  }
}

@media screen and (max-width: 360px) {
  body {
    max-width: 360px;
    padding: 0%;
  }

  nav {
    padding-right: 20px;
  }

  nav .logo {
    padding-right: 80px;
  }

  nav .hamburger {
    margin-right: -20px;
  }
}
@supports (-webkit-appearance:none){
.userCases .wrapper-userCases .box .leonard{background:url(../img/sideLeonard1.webp)}
.userCases .wrapper-userCases .box .rebecca{background-image:url(../img/carouselRebeca1.webp)}
.userCases .wrapper-userCases .box .misha{background-image:url(../img/carouselMisha1.webp)}
}

 @media screen and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1050px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 930px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 806px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 500px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 360px){

@supports (-webkit-appearance:none){

}

}
