@media screen and (max-width: 360px) {
 body{
     max-width: 360px;
padding: 0%;
 }   

 nav{
     padding-right: 20px;
     .logo{
         padding-right: 80px;
     }
    .hamburger{
        margin-right: -20px;

    }
 }
 //---header--

 
}