@media screen and (max-width: 930px){
    //---Treatment---

.treatment{
    padding-bottom: 60px;
    .wrapper-treatment{
        .box{
            width: 400px;
           
            .content{
                width: 300px;
            }
        }
    }
}

}